In [1]:
import numpy as np
import pandas as pd
import re
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
filename = 'Energy_Indicators.xls'
energy = pd.read_excel(filename, header=None, skipfooter=1)

In [3]:
energy = energy.drop([0,1], axis=1)
energy = energy.iloc[18:227]

In [4]:
energy.columns = ['Country','Energy Supply','Energy Supply per Capita','% Renewable']
energy.index = np.arange(len(energy))

In [5]:
def changeEnergySupply(x):
   x = x*1000000
   return x

In [6]:
energy.loc[:, 'Energy Supply'] = energy['Energy Supply'].apply(changeEnergySupply)

In [7]:
energy['Energy Supply'].replace('...', np.NaN, inplace=True)
energy['Energy Supply per Capita'].replace('...', np.NaN, inplace=True)
energy['% Renewable'].replace('...', np.NaN, inplace=True)

In [8]:
energy.loc[energy['Country'] == 'Republic of Korea', 'Country'] = 'South Korea'
energy.loc[energy['Country'] == 'United States of America', 'Country'] = 'United States'
energy.loc[energy['Country'] == 'Northern Ireland', 'Country'] = 'United Kingdom'
energy.loc[energy['Country'] == 'United Kingdom of Great Britain', 'Country'] = 'United Kingdom'
energy.loc[energy['Country'] == 'China, Hong Kong Special Administrative Region', 'Country'] = 'Hong Kong'

In [9]:
def remove_other(cell_value):
    without_parentheses = re.sub(r'\([^)]*\)', '', cell_value)
    without_numbers = re.sub(r'\d', '', without_parentheses)
    return without_numbers

energy['Country'] = energy['Country'].apply(remove_other)

In [10]:
url_world_bank = 'API.csv'
GDP = pd.read_csv(url_world_bank, skiprows=3, dtype = None, encoding='utf-8')

In [11]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [12]:
GDP.loc[GDP['Country Name'] == 'Korea, Rep.', 'Country Name'] = 'South Korea'
GDP.loc[GDP['Country Name'] == 'Iran, Islamic Rep.', 'Country Name'] = 'Iran'
GDP.loc[GDP['Country Name'] == 'Hong Kong SAR, China', 'Country Name'] = 'Hong Kong'

GDP = GDP.rename(columns={'Country Name': 'Country'})

In [13]:
url_ScimEn = 'scimagojr country rank 1996-2022.xlsx'
ScimEn = pd.read_excel(url_ScimEn)

In [22]:
#ScimEn = ScimEn.iloc[0:15]

def answer_one():
    merged_df = ScimEn.merge(energy, on='Country', how='inner')
    merged_df = merged_df.merge(GDP, on='Country', how='inner')
    
    merged_df = merged_df.set_index('Country')
    
    merged_df = merged_df.loc[:,['Rank','Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index','Energy Supply', 'Energy Supply per Capita', '% Renewable','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015',]]
    return merged_df

In [23]:
on_answer_one = answer_one()

In [24]:
display(on_answer_one.iloc[0:15])

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,360468,358777,3947871,2705774,10.95,308,127191000000,93.00,19.75,2752118542130.40,3550327569655.47,4594336785737.67,5101691085625.95,6087191720866.69,7551545321799.88,8532185615746.62,9570470577244.86,10475624783235.60,11061573199439.70
India,3,76103,74167,760964,280893,10.00,217,33195000000,26.00,14.97,940259888792.14,1216736448906.29,1198895147694.77,1341888016988.57,1675615502766.20,1823051829894.55,1827637579584.79,1856721494834.64,2039126469963.35,2103588347241.77
Japan,4,56249,55680,633294,136132,11.26,217,18984000000,149.00,10.23,4601662661030.07,4579749785984.82,5106679413137.57,5289493734900.39,5759071769013.11,6233147172341.35,6272362996105.03,5212328181166.18,4896994405353.29,4444930651964.18
Germany,6,47781,46767,641717,133693,13.43,230,13261000000,165.00,17.90,2994703642023.53,3425578382921.58,3745264093617.19,3411261212652.34,3399667820000.09,3749314991050.62,3527143188785.16,3733804649549.06,3889093051023.45,3357585719351.56
Russian Federation,7,43567,43290,175721,79765,4.03,103,30709000000,214.00,17.29,989932059220.67,1299703459799.96,1660848058303.11,1222645887209.32,1524916698232.71,2045922727569.78,2208293528673.97,2292470104248.18,2059241582146.11,1363482179761.17
Canada,8,39036,38276,787010,125333,20.16,263,10431000000,296.00,61.95,1319264809590.97,1468820407783.26,1552989690721.65,1374625142157.29,1617343367486.26,1793326630174.52,1828366481521.60,1846597421834.98,1805749878439.94,1556508816217.14
Italy,9,35991,34424,529459,123042,14.71,192,6530000000,109.00,33.67,1949551719389.64,2213102482751.46,2408655348718.59,2199928804118.63,2136099955236.72,2294994296589.51,2086957656821.60,2141924094298.57,2162009615996.51,1836637711060.55
South Korea,10,35294,35005,503147,87529,14.26,182,11007000000,221.00,2.28,1053216892422.02,1172614134912.05,1047339041903.85,943941876218.74,1144066965324.49,1253223044718.99,1278427634342.59,1370795199976.18,1484318219633.63,1465773245547.15
France,12,29351,28759,471469,79375,16.06,205,10597000000,166.00,17.02,2320536221304.70,2660591246211.77,2930303780828.12,2700887366932.03,2645187882116.73,2865157541994.19,2683671716967.19,2811876903329.05,2855964488590.14,2439188643162.50
Spain,13,27880,27272,515485,88803,18.49,202,4923000000,106.00,37.97,1260398977831.76,1474002579820.00,1631863493552.34,1491472923706.64,1422108199783.37,1480710495710.13,1324750738725.00,1355579535912.56,1371820537888.60,1196156971279.69
Australia,14,25906,25237,495278,72475,19.12,212,5386000000,231.00,11.81,747907432136.60,854427259166.21,1055686110665.53,928629769751.88,1148569537284.62,1398456161407.85,1546952690139.99,1576329690003.93,1467589901175.46,1350580336316.75
Brazil,15,25887,25493,260540,60487,10.06,145,12149000000,59.00,69.65,1107626711436.44,1397114247287.58,1695855391816.48,1666996294324.76,2208838108593.19,2616156606734.51,2465228293862.62,2472819362259.00,2456043766063.50,1802211999555.59
Poland,18,15513,15243,153286,41160,9.88,109,4121000000,107.00,5.54,344626630395.38,429020755432.72,533599853342.51,439731636116.95,475696613935.59,524374222547.90,495230574356.74,515762008468.81,539080532037.14,477111287969.23
Malaysia,19,14562,14088,223466,47081,15.35,157,3417000000,116.00,7.75,162692260155.07,193549547954.75,230811591306.52,202257458160.85,255017645207.18,297951667650.45,314443061220.14,323276281683.44,338066121289.41,301354783698.72
Saudi Arabia,20,14385,14146,196056,35289,13.63,144,7985000000,264.00,0.00,376900135720.73,415964583059.21,519796738631.13,429097899279.01,528207298529.87,676634577273.05,741849984943.26,753864543430.25,766605946720.43,669484381328.89